
.App-link {
  color: #61dafb;
}

.Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 62.5%;
  max-width: 500px;
  margin: 0 auto;
}

.navLinks {
  display: flex;
  justify-content: space-around;
}

.formDiv {
  border: 0.5px solid black;
  display: inline-flex;
  flex-direction: column;
}

.formDiv button {
  margin: 20px;
}

.jokesDiv {
  border: 1px solid black;
  margin: 20px;
}