
.App-link {
  color: #61dafb;
}

.Container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  text-align: center;
}

.Container p {
  font-size: 62.5%;
}

.navLinks {
  display: flex;
  justify-content: space-around;
}